@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@400;600&family=Almendra:wght@400&family=Uncial+Antiqua&display=swap');




h1 { 
    font-family: 'Cinzel Decorative', serif; 
    font-size: 4em;
    color: black;
    text-shadow: 
        -2px -2px 0 white,
        2px -2px 0 white,
        -2px 2px 0 white,
        2px 2px 0 white;
}

h2 { 
    font-family: 'Cinzel', serif; 
    font-size: 2.5em;
    text-decoration: underline;
}

h3 { 
    font-family: 'Cinzel', serif; 
    font-size: 1.8em;
    text-decoration: underline;
}

h4 { 
    font-family: 'Almendra', serif; 
    font-size: 1.1em;
    text-decoration: underline;
}

h5 { 
    font-family: 'Uncial Antiqua', cursive; 
    font-size: 1.1em;
    text-decoration: underline;
}


/* Body text */
p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #3a2317;
    text-align: justify;
    margin-bottom: 1.2em;
}

/* Parchment texture instead of stripes */
body {
    background-image: url('https://www.transparenttextures.com/patterns/old-map.png');
    background-color: #f4e8d0;
}


/* Stage directions in italics */
em {
    color: #6b4423;
}

/* Character names */
strong {
    color: #8B4513;
    font-size: 1.1em;
}

/* Special styling for ALL: responses */
p:has(strong:first-child) {
    margin-left: 2em;
    margin-top: 0.5em;
}
