---
---
@import "{{ site.theme }}";

body {
    background-image: url('https://www.transparenttextures.com/patterns/old-map.png');
    background-color: #f4e8d0;
}

.side-bar {
    background-color: #e8dcc0;
}

.main-content {
    background-color: rgba(255, 255, 255, 0.9);
}
